.bg-gradient-primary {
  background-color: #ffffff;
  background-image: linear-gradient(190deg,#002db5 10%,#00052f);
  background-size: cover;
}

#indexpage{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
  }
}


/* 
.container, .container-fluid, .container-lg, .container-md, .container-xl
*/